body{
   margin: 0;
   padding: 0;
   height: 100%;
   font-size: 10px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.style {
   width: fit-content;
   margin: 0 auto;
   padding: 1em;
   display: none;
   background-color: #fff;
}
.style.show{
   display: block;
}
.style pre{
   // font-size: 1rem;
   margin: 0;
   color: rgb(0, 101, 101);
}
section{
   padding: 16px;
}
.container {
   max-width: 1230px;
   margin: 0 auto;
   background-color: rgb(255, 255, 111);
}
.row {
   padding: 1.6em;
   text-align: center;
}
.show-style {
   font-size: 1.4em;
   padding:  0.5em;
   background-color: blueviolet;
   border: 0;
   color: #ccc;
   border-radius: 0.25em;
   cursor: pointer;
}
.description {
   padding: 0 1em;
   font-size: 1rem;
   color: teal;
}
.grid{
   display: grid;
   grid-gap: 20px;
   padding: 16px;
}
.grid>div{
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 1.6rem;
   color: #fff;
   background-color: #ccc;
   width: 100%;
   height: 100%;
}
.grid1 {
   grid-template-columns: repeat(4 ,1fr);
   grid-template-rows: repeat(2, 100px);
}
.grid2{
   grid-template-columns: repeat(3, minmax(100px, 400px));
   grid-template-rows: repeat(3, 100px);
}

.width-devise{
   position: fixed;
   width: fit-content;
   height: 40px;
   background-color: red;
   display: flex;
   align-items: center;
   justify-content: center;
   left: 0;
   bottom: 0;
   font-size: 1rem;
   color: #ccc;
   padding: 0 8px;
}
@media(max-width:424px){
   body{
      font-size: 9px;
   }
   .grid2 {
      height: 300px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
  }
  pre{
   font-size: 8px;
  }
}

